.search {
  width: 40%;
  margin: 5% auto 2%;
}

.name {
  margin: 3% auto;
  .item {
    display: flex;
    width: 40%;
    margin: 1% auto; 
    margin-bottom: 0; 
    .note-name {
      width: 75%;    
    }
    .note-watch {
      width: 7%;
      margin-left: 3%;
    }
    span {
      margin-right: 1%;
    }
  }
}
